[Desktop Entry]
Name=RedTriangles

X-KDE-PluginInfo-Name=RedTriangles
X-KDE-PluginInfo-Author=Unknown
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=LGPLv3
